.contact h1 {
	margin-bottom: .8em;
}

@media (min-width: 1200px) {

	.contact {
		width: 50vw;
		height: 100vh;
		margin-top: 144px;
		padding-left: 12.5vw;
	}

	.contact__wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 720px;
		padding-top: var(--h1_line-height);
	}

	.contact h1 {
		position: fixed;
		transform-origin: top left;
		transform: rotate(-90deg) translateX(-100%) translateY(-100%);
	}

	.form__wrapper {
		margin-left: var(--h1_line-height);
		margin-right: auto;
	}

	.contact__btn {
		display: flex;
		justify-content: flex-start;
	}
}