@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Alexandria", sans-serif;
	color: rgb(235, 235, 235);
}

body {
	height: 100vh;
	background-color: rgb(12, 12, 12);
}

.slide {
	height: 100vh;
	position: relative;
}

::-webkit-scrollbar {
	display: none;
}

h1 {
	font-size: 5rem;
	line-height: 4rem;
	font-weight: 900;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

h2 {
	font-size: 2.25rem;
	line-height: 2.5rem;
	font-weight: 700;
}

h3 {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
}

p {
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.75rem;
	color: rgb(138, 138, 138);
}

p a {
	color: rgb(235, 235, 235);
	transition: all 0.2s ease-in-out 0s;
}

p a:hover {
	background: rgb(30, 30, 30);
}

small {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5rem;
}

.icon {
	cursor: pointer;
	margin-left: 24px;
	transition: transform 0.25s ease-in-out 0s;
}

.icon:hover {
	transform: scale(1.15);
}

button {
	cursor: pointer;
	background: rgb(235, 235, 235);
	border-width: 0;
	border-radius: 2.5px;
	color: rgb(8, 8, 8);
	display: block;
	width: auto;
	height: 4rem;
	padding: 0 3rem;
	font-weight: 700;
	font-size: 1em;
	transition: transform 0.25s ease-in-out 0s;
}

button:hover {
	transform: scale(1.025);
}