.columns {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 100%;
	width: 90%;
	pointer-events: none;
	z-index: -999;
}

.columns div {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1px;
	background-color: rgba(235, 235, 235, 0.1);
}

.col_1 {
	left: 0%;
	display: block;
}

.col_2 {
	left: 25%;
	display: block;
}

.col_3 {
	left: 50%;
	display: block;
}

.col_4 {
	left: 75%;
	display: block;
}

.col_5 {
	left: 100%;
	display: block;
}

.col_6,
.col_7 {
	display: none;
}

.header_container {
	width: 100%;
	backdrop-filter: blur(5px);
	background-color: rgba(9, 9, 9, 0.4);
}

.header_nav {
	display: grid;
	align-items: center;
	justify-content: center;
	max-width: 1440px;
	width: 75%;
	margin: 0 auto;
	padding: 3em 0;
}

.nav_siteTitle,
.nav_socials {
	display: none;
}

.nav_links {
	display: flex;
	justify-content: center;
	min-width: 286px;
}

.nav_links ul {
	display: flex;
	align-items: center;
	list-style: none;
}

.nav_links li:nth-of-type(2) {
	padding: 0 3em;
}

.nav_links a {
	font-size: 0.75em;
	letter-spacing: 0.08rem;
	text-transform: uppercase;
	font-weight: 700;
	color: rgb(138, 138, 138);
	transition: all 0.25s ease-in-out 0s;
}

.nav_links img {
	min-width: 3em;
}

.nav_links a:hover {
	color: white;
}

@media (min-width: 500px) {
	.nav_links li:nth-of-type(2) {
		padding: 0 5em;
	}
}

@media (min-width: 700px) {
	.col_1 {
		left: 0%;
		display: block;
	}

	.col_2 {
		left: 16.666666666666666666666666666667%;
		display: block;
	}

	.col_3 {
		left: 33.333333333333333333333333333333%;
		display: block;
	}

	.col_4 {
		left: 50%;
		display: block;
	}

	.col_5 {
		left: 66.666666666666666666666666666667%;
		display: block;
	}

	.col_6 {
		left: 83.333333333333333333333333333333%;
		display: block;
	}

	.col_7 {
		left: 100%;
		display: block;
	}
}

@media (min-width: 1200px) {
	.columns {
		margin: 0 12.5vw;
		width: 75vw;
	}

	.bg_container {
		position: absolute;
		z-index: -99;
	}

	.bg_w {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow: hidden;
	}

	.w_container {
		display: flex;
		align-items: flex-end;
		width: 550px;
	}

	.w1,
	.w3 {
		position: relative;
		height: 100vh;
		width: 300px;
		background-color: rgba(255, 255, 255, 0.01);
		backdrop-filter: blur(2px);
		transform: skewX(15deg);
		transform-origin: top left;
	}

	.w2,
	.w4 {
		position: relative;
		height: 40vh;
		width: 300px;
		background-color: rgba(255, 255, 255, 0.01);
		backdrop-filter: blur(2px);
		transform: skewX(-15deg);
		transform-origin: bottom left;
	}

	.header_container {
		position: absolute;
		z-index: 99;
	}

	.header_nav {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.nav_links {
		min-width: 360px;
	}

	.nav_siteTitle {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: relative;
	}

	.nav_siteTitle h3 {
		font-size: 1.5em;
		line-height: 100%;
		font-weight: 900;
		text-transform: lowercase;
		letter-spacing: 0.05em;
		max-width: 150px;
	}

	.nav_siteTitle small {
		font-size: 1em;
		font-weight: 200;
		line-height: 1.5em;
		letter-spacing: 0.02em;
	}

	.nav_socials {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
	}

	.body_container {
		position: absolute;
		height: 100vw;
		width: 100vh;
		transform: rotate(-90deg) translateX(-100vh);
		transform-origin: top left;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.wrapper {
		width: max-content;
		height: 100vh;
		display: flex;
		flex-direction: row;
		transform: rotate(90deg) translateY(-100vh);
		transform-origin: top left;
	}
}