.project_card {
	position: relative;
	max-height: 400px;
	border-radius: 20px;
	overflow: hidden;
	filter: drop-shadow(-5px -5px 10px rgb(0, 0, 0));
}

.project_card img {
	transition: transform 0.5s cubic-bezier(0, .5, .41, 1.11) !important;
}

.project_card:hover img {
	transform: scale(1.1);
}

.card_overlay {
	position: absolute;
	inset: 0;
	background: linear-gradient(200deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.9) 90%);
}

.card_container__text {
	display: flex;
	align-items: flex-end;
	position: absolute;
	overflow: hidden;
	inset: 0;
	margin: 1em;
}

@media (min-width: 700px) {
	.project_card {
		max-height: 480px;
	}
}

@media (min-width: 900px) {
	.project_card {
		max-height: 600px;
	}
}

@media (min-width: 1200px) {
	.project_card {
		height: 30vw;
		max-width: 25vw;
	}

	.project_card:hover .card_overlay {
		opacity: 1;
	}

	.card_overlay {
		background: linear-gradient(225deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.9) 80%);
		transition: opacity 0.75s cubic-bezier(.19, 1, .22, 1);
		opacity: 0;
	}

	.text_wrapper {
		transform-origin: bottom left;
		transform: rotate(-90deg);
		opacity: 0;
		transition: all 0.75s cubic-bezier(.5, 1, .64, 1.16);
	}

	.project_card:hover .text_wrapper {
		opacity: 1;
		transform: rotate(-90deg) translateY(100%);
	}
}