.project_title {
	position: fixed;
	transform: rotate(-90deg) translateY(-100%);
	transform-origin: top left;
	left: 15rem;
	top: 75%;
}

.project:first-of-type {
	margin-left: 15rem;
	padding-left: 7.5rem;
}

.project:last-of-type {
	margin-right: 15rem;
	padding-right: 0;
}

.project {
	display: flex;
	align-items: flex-end;
	width: auto;
	flex-direction: row;
	margin-bottom: 0;
	padding: 0 3.75rem;
}

.project:nth-of-type(even) {
	align-items: flex-start;
}

.card_animation {
	transition: padding 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.project:nth-of-type(even) .card_animation:hover {
	padding-top: 20vh;
}

.project:nth-of-type(odd) .card_animation:hover {
	padding-bottom: 20vh;
}